div.hallotoolbar {
    position: fixed;
    top: 0px;
    left: 50%;
    width: 30%;
    z-index: 100000;
    border: 1px solid #babdb6;
    padding: 2px;
    background-color: #eeeeec;
    border-radius: 6px;
    font-size: 12pt;
    line-height: 1.1em;
}
/* ANNOTATIONS */
.inEditMode .entity, .inEditMode a[typeof][about] {
    border-bottom: 1px #729fcf dotted;
}
.inEditMode .entity.withSuggestions {
    border-color: #73d216;
    border-bottom-style: double;
}
.inEditMode .entity.person, .inEditMode a[typeof][about].person {
    border-color: #e9b96e;
}
.inEditMode .entity.place, .inEditMode a[typeof][about].place {
    border-color: #c17d11;
}
.inEditMode .entity.organisation, .inEditMode a[typeof][about].organisation {
    border-color: #8f5902;
}
[contenteditable="true"].inEditMode {
    outline-style: auto;
    outline-width: 3px;
    outline-color: #111111;
}
div.hallotoolbar .dropdown-menu {
    width: "200px";
    background-color: rgba(255,255,255,0.5);
    margin-top: -1px;
    border-left: 1px solid #babdb6;
    border-bottom: 1px solid #babdb6;
    border-right: 1px solid #babdb6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
div.hallotoolbar .dropdown-menu .selected {
    background-color: #729fcf;
}
